scipy
numpy
opencv-python
tqdm
typer
rich

########################################
#  pdf tool
########################################
pdfminer.six
PyMuPDF
pypdf

requests
beautifulsoup4

#torch
transformers
pydantic
onnxconverter_common==1.14.0
onnx==1.17.0
onnxruntime-gpu==1.19.2
openpyxl
addict
yapf

# modelscope
apted
tablepyxl
attr
wandb
packaging
cryptography
python-dotenv
shapely
pyclipper
pytz
pandas
