numpy
pandas
opencv-python
pymysql
SQLAlchemy
tqdm
typer
rich

########################################
#  pdf tool
########################################
pdfminer.six
PyMuPDF
pypdf
fitz

requests
beautifulsoup4

torch
transformers
pydantic
onnxconverter_common
onnx
onnxruntime-gpu
opencv_python
openpyxl
addict
yapf

# modelscope
apted
tablepyxl
attr
wandb
